.DS_Store
*.swp

# PyTorch serialized modules
*.pt

analyzer/habitat/data/LICENSE
analyzer/habitat/data/NOTICE
analyzer/habitat/data/README.md
analyzer/habitat/data/kernels.sqlite

# Python
*.pyc
__pycache__
venv/
.vscode/*